body {
   background: #fafafa;
}
input.top[type="search"] {
    height: 40px !important;
    padding: 0 10px !important;
}
.myLink {
   font-size: 20px;
}
.harga {
   position: absolute;
   text-align: left;
   width:auto;
   font-size: 14px;
   border: 5px solid #e28e1e;
   background: #e28e1e;
   color:#fff;
   z-index: 99;
   top:205px;
   right:-12px;
   border-radius: 0px 3px 4px 0px;
}
.harga:before{
   content: ' ';
   position: absolute;
   width: 0;
   height: 0;
   right: -17px;
   top: -16px;
   border: 12px solid;
   border-color: transparent transparent transparent #e28e1e;
}
.product-image{
   height:400px;
   width:400px;
   border: 1px solid #c1c1c1;
   padding: 5px;
   display: flex;
   align-items: center;
   margin-bottom: 20px;
}
.product-image img{
   width: 100%;
   height: auto;
   max-height: 390px;
}
.product_gallery a{
   display: flex;
   width:100px;
   height:100px;
   float:left;
   margin:0px 5px;
   margin-top: 15px;
   border:1px solid #d0d0d0;
   align-items: center;
   padding: 5px;
   cursor: pointer;
}
.product_gallery a:hover{
   opacity: 0.6;
   filter: alpha(opacity=60);
}
.product_gallery a img{
   height: auto;
   width: 100%;
   max-height: 86px;
}
.price {
   border:2px dashed #b9b9b9;
   padding:8px;
   margin: 15px auto;
   font-size: 30px;
   color:#e9710d;
   text-align: center;
}
.btn{
   box-shadow: none;
   border-radius: 0px;
   margin: 5px auto;
}
.detail{
   color: #606060;
   font-size: 14px;
}
.detail h4 {
   color: #4f4f4f;
   font-size: 2.28rem;
   line-height: 90%;
   margin: 1rem 0 0.5rem 0;
}
.item-title{
   border-bottom: 1px dotted #bbbbbb;
   margin-bottom: 15px;
}
.detail hr{
   margin:5px;
}
.help-text {
   color: #bbbbbb;
   margin-top: 0px;
}
.sub {
   color: #3b3a3a;
   font-size: 20px;
}
.dropdown-content li > a, .dropdown-content li > span {
  color: #0288d1;
}
.pagination li a {
  color: #0288d1;
  display: inline-block;
  font-size: 1.2rem;
  padding: 0 10px;
  line-height: 30px;
}
.pagination li.active a {
  color: #fff;
}
.pagination li.active {
  background-color: #0288d1;
}
.dropdown-content {
   min-width: 200px;
   margin-top:65px;
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}

hr {
  height: 0;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
          margin-top: 20px;
          margin-bottom: 20px;
          border: 0;
          border-top: 1px solid #eee;
}
input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #2196f3;
  box-shadow: 0 1px 0 0 #2196f3;
}
.prefix{
   float:right;
}
.input-field .prefix.active {
   color: #2196f3;
}
input:not([type]):focus:not([readonly]) + label,
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #2196f3;
}
.collection.with-header .collection-header {
  background-color: #2196f3;
  color:#fff;
  text-align: center;
  border-bottom: 1px solid #2196f3;
  padding: 3px 15px;
}
.nav-wrapper {
   margin: auto 3%;
}
.cont {
   margin: 15px 5% 0px 5%;
   background: #fff;
   border: 1px solid #ededed;
   color :#656565;
}
.content{
   border-left: 1px dotted #ececec;
}
.item {
   padding: 30px 50px;
}
.btn-success {
  border: none;
  display: inline-block;
  font-size: 18px;
  height: 50px;
  line-height: 50px;
  padding: 0 4rem;
  font-weight: normal;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}
footer {
   margin-top: 20px;
}
footer.page-footer .footer-copyright {
   color:#f2f2f2;
   background-color: rgba(20, 20, 20, 0.15);
}
.link {
   float: left;
   font-size: 16px;
}
.link a .fa{
   border-radius: 5px;
}
.fa-facebook {
   padding: 5px 9px;
   background: #3B5991;
}
.fa-twitter {
   padding: 5px 6px;
   background: #3bf;
}
.fa-google-plus {
   padding: 5px 3px;
   background: #DB3330;
}
.collection-item .btn-flat{
   width:100%;
   margin-bottom: 5px;
}
.card-action .btn{
   padding: 1.5px 20px;
}
.back-top {
   z-index: 999;
   position: fixed;
   bottom: 30px;
   right: 10px;
   display: none;
}
.card.medium .card-image{
  max-height: 80%;
  overflow: hidden;
}
.card .card-title {
   font-size: 16px;
   font-weight: 400;
   background: rgba(0, 0, 0, 0.35);
   width:100%;
   text-align: center;
   position: absolute;
   bottom: 120px;
   color: #fff;

   padding: 5px 10px;
}

.card.medium {
  height: 380px;
}
.detail-item input[type=number], .card-action input[type=number] {
   background: #fff;
   border: 1px solid #bbbbbb;
   border-radius: 5px;
   height: 2rem;
   width: 80%;
   font-size: 1rem;
   margin: 5px 0 5px 0;
   padding: 0 10px;
   box-sizing: content-box;
   transition: all 0.3s;
}
.card-action input[type=text]:focus,
.card-action input[type=number]:focus:not([readonly]),
.detail-item input[type=text]:focus,
.detail-item input[type=number]:focus:not([readonly]){
   border: 1px solid #9e9e9e;
   box-shadow: none;
}

nav .brand-logo {
  position: relative;
  color: #fff;
  float:left;
  display: inline-block;
  font-size: 2.1rem;
  padding: 0;
  margin-right: 3%;
  white-space: nowrap;
}

.side-nav .input-group input[type=search]{
   margin: 2% 3% 2% 3%;
   width: 85%;
   padding: 0px 12px;
   font-size: 14px;
   line-height: 1.42857143;
   color: #555;
   background-color: #fff;
   border: 1px solid #e7e7e7;
   -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
           transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.side-nav .input-group input[type=search]:focus{
     border-color: #66afe9;
     outline: 0;
     -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
             box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.input-group input[type=search]{
   position: relative;
   display: inline-block;
   width: 100%;
   padding: 0px 12px;
   font-size: 14px;
   line-height: 1.42857143;
   border-radius: 5px;
   color: #676767;
   background-color: #fff;
   border: 1px solid #e7e7e7;
   -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
           transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.input-group input[type=search]:focus {
  border: 1px solid #e7e7e7;
  box-shadow: none;
}
@media only screen and (max-width: 1024px) {
  .hide-on-med-and-down {
    display: none !important;
  }
  nav .brand-logo {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@media screen and (max-width:1200px) {
   .harga {
      top:175px;
      right:-9px;
   }
   .card.medium .card-image{
     max-height: 60%;
     overflow: hidden;
   }
   .card.medium {
     height: 350px;
   }
   .card-action .btn{
      padding: 1.5px 10px;
   }
}
@media screen and (max-width:1024px) {
   .product-image{
      height:350px;
      width:350px;
   }
   .harga {
      top:130px;
      right:-11px;
      font-size: 12px;
   }
   .card.medium .card-image{
     max-height: 60%;
     overflow: hidden;
   }
   .card.medium {
     height: 300px;
   }
   .card-action .btn{
      padding: 1.5px 10px;
   }
}
@media screen and (max-width:600px){
   .product-image{
      height:100%;
      width:100%;
   }
   .cont {
      top: 45%;
   }
   .harga {
      top:178px;
      right:-10px;
   }
   .card-action .btn{
      padding: 1.5px 20px;
   }
   .card .card-title {
     font-size: 18px;
     font-weight: 400;
   }
   .product_gallery a{
      display: flex;
      width:80px;
      height:80px;
      float:left;
      margin:0px 3px;
      margin-top: 10px;
   }
   .card.medium .card-image{
     max-height: 70%;
     overflow: hidden;
   }
   .card.medium {
     height: 350px;
   }
   .price {
      font-size: 20px;
   }
   h4 {
      font-size: 22px;
   }
   .item {
      padding: 20px 30px;
   }
   .content{
      border-left: none;
   }
}
@media screen and (max-width:480px){
   nav .brand-logo {
     position: absolute;
   }
   nav .brand-logo i {
      display: none;
   }
   .card.medium .card-image{
     max-height: 80%;
     overflow: hidden;
   }
   .card.medium {
     height: 350px;
   }
   .card-action .btn{
      padding: 1.5px 10px;
   }
}

